{% import datetime %}
{% set now = datetime.datetime.now() %}
{% set months = {1:"January", 2:"February", 3:"March", 4:"April", 5:"May", 6:"June", 7:"July", 8:"August", 9:"September", 10:"October", 11:"November", 12:"December" } %}
{% set nth = {0:"th", 1:"st", 2:"nd", 3:"rd", 4:"th", 5:"th", 6:"th", 7:"th", 8:"th", 9:"th"} %}
<header>
  <a href="/">
    Today is the {{ now.day }}{{ nth[now.day%10] }} of {{ months[now.month] }}, {{ now.year }}.
    The time is {{ "%02d" % now.hour }}:{{ "%02d" % now.minute }} UTC.
  </a>
</header>
