{% extends "base.html" %}
{% block title %}English Pepper - {{ idea.text }}{% end %}

{% block content %}
  {% include "_header.html" %}
  <section>
    <h2>
      <a href="/explore?source={{ idea.id }}{% if pos %}&pos={{ pos }}{% end %}{% if lvl %}&lvl={{ lvl }}{% end %}">
      <img src="/static/img/recycle.svg" style="height: 20px; width: 20px"/></a> {{ idea.text }}
    </h2>
    <p>
      {% for i in idea.image %}
        <img src="{{ i.internal_url }}" title="{{ i.external_url }}"/>
      {% end %}
    </p>
    <p><b>{{ idea.pos }}</b>: {{ idea.definition }}<p>
    <p>{{ idea.example }}</p>
  </section>
  {% include "_footer.html" %}
{% end %}
